@tailwind base;
@tailwind components;
@tailwind utilities;

/* Définir les thèmes */
[data-theme="themeRed"] {
    --icon-color: #ff6347;
    --icon-hover-color: #ff4500;
}

[data-theme="themeBlue"] {
    --icon-color: #4682b4;
    --icon-hover-color: #4169e1;
}

[data-theme="themeGreen"] {
    --icon-color: #32cd32;
    --icon-hover-color: #2e8b57;
}


  
  /* Utiliser les variables CSS */
  .text-theme {
    color: var(--primary-color);
  }
  
  .bg-theme {
    background-color: var(--primary-color);
  }
  
  .border-theme {
    border-color: var(--primary-color);
  }
  